<div class="container">
  <div class="loginBox" style="margin-top: -25px;">
    Welcome,  {{id}} - {{post}}
    <a href="javascript:void(0);" (click)="logout()" style="float: right">Logout</a>
  </div>
  <Br>
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="data && data.length > 0;" class="search-results" infinite-scroll 
        [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" 
        [infiniteScrollThrottle]="50" 
        (scrolled)="onScrollDown()"
         [scrollWindow]="false">
        <ui-tree [data]="data" [key]="key" (selected)="onSelected($event)"></ui-tree>
      </div>
    </div>
    <div class="col-md-4">
      <img *ngIf="playerImage" [src]="playerImage"/>
      <div *ngIf="!playerImage" style="font-weight: bold">Please select a player to view his stats</div>
    </div>
    <div class="col-md-4" *ngIf="playerImage">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" 
                 id="playerName" required [(ngModel)]="playerName" name="playerName">
        </div>
        <button type="submit" class="btn btn-success" disabled>Edit</button>
   
      </form>
    </div>
  </div>
</div>